@charset "UTF-8";

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}
body > p {
    position: absolute;
    color:black;
}
body {
    background-image: url(imagens/fundo2.gif);
    background-attachment: fixed;
}

header {
    background-color: rgb(0, 0, 0);
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 260px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    transition: .2s;
    font-size: 20px;
}

header a {
    text-decoration: none;
}

header h1:hover {
    text-decoration: underline;
    color:white;
    transform: scale(1.1);
}

header > p {
    font-size: 10px;
    text-align: center;
    color:red;
}

main {
    background-color: rgb(0, 0, 0);
    max-width: 700px;
    min-width: 300px;
    padding: 40px;
    padding-top: 0;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px ;
    box-shadow: 1px 1px 500px rgba(255, 255, 255, 0.371);
    
}

main > div.quem {
    display:flex;
    align-items: center;
    color: white
}

main > div.quem > span > h1 {
    margin-top: 0px;
    text-decoration: none;
    font-size: 15px;
    height: 30px;
    padding-top:15px;
    
}

main > div.quem > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin:5px;
    box-shadow: 0 0 5px white;

}

img {
    position: sticky;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.401);
    max-height: 350px;
}

p {
    font-weight: 500;
    font-size: 25px;
    color: white
}

hr {
    margin: 30px 0px 30px 0px;
    color: white
}